/* TODO: Have your plugin's CSS files generated to here. */

#sliderVal {
    height: 50px;
    width: 50px;
    text-align: left;
}

#sliderVal::-webkit-inner-spin-button,
#sliderVal::-webkit-outer-spin-button {
    cursor: pointer;
    height: 50px;
}