<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="slidercontainer">

        <input type="range" min="0" max="100" class="slider" id="myRange" data-bind="attr: {href: settings.settings.plugins.box3dFanCtrl.slidVal}">
    </div>
</body>

</html>